body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url(./hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  background: linear-gradient(to right, #1fa2c4, #12d4e6, #a700ee);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  color: #ffffff;
}

.converter {
  margin-top: 20px;
}

input,
select,
button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
}
